#container{
    display: flex;
}

main{
    width: 80%;
    padding: 60px;  
    font-size: 18px;
}

main a:link,
main a:visited{
	color: #bc5d00;
	text-decoration: none;
}
	
main a:hover{
	color: #3b5998;
	text-decoration: underline;
}
	
main a:active{
	color: #c97d7e;
}

aside{
    width: 20%;
    background-color: rgba(128, 128, 128, 0.7);
    font-family: arial;
}

.main_side_title{
	background: rgba(179, 179, 179, 0.8);
	color: #bc5d00;
	font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.secound_side_title{
    background:rgba(179, 179, 179, 0.8);
    color: rgb(51, 51, 51);
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.fluids{
    width: 75%;
    margin: auto;
}

.tire{
    width: 70%;
    margin: auto;
}

.racechip{
    width: 85%;
    margin: 15px auto;
}

.nis{
    width: 75%;
    margin: 15px auto;
}

.carpro{
    width: 85%;
    margin: 15px auto;
}
