main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 20px;
}

.products{
    background-color: rgba(77, 77, 77, 0.452);
    border-radius: 10px;
    font-family: arial;
} 

.title{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.title a{
    text-decoration: none;
    color: black;
}

.about{
    display: flex;
    text-align: center;
    padding: 10px;
}

.pimage{
    width: 70%;
    padding: 10px;
    margin: auto;
}

.pimage img{
    width: 100%;
}

.price{
    margin: auto;
    font-weight: bold;
    font-size: 15px;
}

.add{
    color: black;
    font-weight: bold;
    font-size: 12px;
    border-radius: 15px;
    border: 2px solid #00439c;
    padding: 3px 15px;
    margin: 10px;
    cursor:pointer;
}

.buy{
    display: none;
}

footer{
    background-color: #00439c;
    color: white;
    padding: 20px;
}

.copy{
    width: 80%;
    text-align: center;
    margin: auto;
}

footer img{
    width: 50px;
}
