main{
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    width: 550px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    width: 335px;
    margin: auto;
}

.sirina{
    font-size: 20px;
    width: 150px;
    display: inline-block;
}

#name,
#surname,
#email,
#password,
#r-password{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

#img{
    width: 177px;
}

.button{
    margin: 15px;
    text-align: center;
}

button, #reset{
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;  
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(255, 128, 0);
  }